<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atu.mapper.HeroMapper">
    <select id="getAll" resultType="com.atu.entity.Heroes">
        select * from heroes
    </select>
    <select id="findByName" resultType="com.atu.entity.Heroes">
        select * from heroes where name =#{name}
    </select>
    <select id="findByType" resultType="com.atu.entity.Heroes">
        select * from heroes where type =#{type}
    </select>
</mapper>